.App {
  background: linear-gradient(100deg, #e6a97e, #9f5f8d);
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .App {
    background: linear-gradient(#e6a97e, #9f5f8d);
    min-height: 100vh;
  }
}
